.vitrina{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,4fr));
    grid-column: 500px;
    /* overflow-x: hidden; */
    /* overflow-y: visible; */
}

@media (min-width:550px){
    .vitrina{
        grid-column: auto / span 4;
    }
}