.box-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    cursor: pointer;
}

.logo{
    width: 30%;
}

header{
    background-color: #fff;
    overflow:hidden;
    text-align: center;
    box-shadow: -10px 0px 10px rgb(122, 122, 122);

    display: grid;
    width: 100%;
    
}

button{
    cursor: pointer;

}

.search{
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.search-form{
    background-color: #fff;
    border: 1px solid var(--green);
    border-radius: 20px;
    height: 42px;
    margin: 10px 0px;
}

.search-inp{
    border: none;
    border-radius: 20px ;
    height: 100%;
    width: 92%;
    outline: none;
    font-size: 1rem;
}

.search-sub{
    border: none;
    background-color: transparent;
    /* position: relative; */
}

.search-icon{
    height: 17px;
    background-color: #fff;
    color: var(--green);

}

.menu{
    display: flex;
    text-align: center;
    align-items: center;
}

.box-icon{
    color: var(--green);
    align-items: center;
    text-align: center;
    display: inline-block;
    margin:auto;
}
.box-icon p{
    color: var(--green);
}

a{
    text-decoration: none;
    font-size: 0.8rem;
}

a:visited{
    color: var(--green);
}

.icon{
    color: var(--green);
    height: 1.1rem;
}


.btn-nav{
    border: none;
    background-color: transparent;
}


/* @media screen and (max-width:1500px){
    .box-logo, .search{
        grid-column: auto / span 2;
    }

    
} */
@media screen and (min-width:1500px){
    header{
        grid-template-columns: repeat(auto-fill, minmax(500px,3fr));
    }
    .search-form{
        min-width: 100%;
    }
}


@media screen and (max-width:1500px){
    header{
        grid-template-columns: repeat(auto-fill, minmax(400px,3fr));
    }

    .search-form{
        min-width: 100%;
    }
}

@media screen and (max-width:1200px){
    header{
        grid-template-columns: repeat(auto-fill, minmax(300px,3fr));
    }

    .search-form{
        min-width: 100%;
    }
}

@media screen and (max-width:900px){
    .box-logo, .search, .menu{
        grid-column: auto / span 2;
    }

    .search{
        display: flex;
        justify-content: center;
    }

    .search-form{
        min-width: 90%;
    }

    .menu{
        margin-bottom: 10px;
    }
}

@media screen and (max-width:500px){
    body {
        font-size: 10px;
    }
}


/* @media screen and (min-width:800px) {
    header{
        grid-template-columns: repeat(auto-fill, minmax(500px,3fr));
    }

} */


@media screen and (max-width:500px){
    header{
        grid-template-columns: repeat(auto-fill, minmax(300px,3fr));
    }
}

.box-visible{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.accountBtn{
    color: rgb(74, 74, 74);
    text-decoration: none;

}

.accountBtn:visited{
    color: rgb(74, 74, 74);

}



/* * Entrar (inicio de sesion) */

.login{
    padding: 30px 20px !important;
    width: 500px !important;
    /* border: 1px solid #000; */
    border: none;
    position: relative;
    overflow: hidden;
}



.login input{
    width: 97%;
    font-size: 1rem;
    padding: 6px;
    margin-bottom: 30px;
}

.login label{
    display: inline-block;
    color: var(--color-p);
}


.captcha{
    display: flex;
    align-items: center;
    background-color: rgb(243, 243, 243);
    padding: 10px 15px;
    width: 70%;
    border: 1px solid gainsboro;
    margin: 30px 0px 25px 0px;
    /* justify-content: ; */
}

.captcha img{
    width: 50px !important;
}

.captcha input[type="checkbox"]{
    width: 30px;
    height: 30px;
    margin: 0px 20px 0px 0px;
}
.captcha label{
    margin: 0px 70px 0px 0px;
}

.captcha span{
    font-size: 0.6em;
    color: rgb(149, 149, 149);
}
.btn-box{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #006414;
    cursor: pointer;
}
.btn-access{
    width: 45%;
    font-size: 1rem;
    background-color: var(--fondo);
}


.full{
    width: 100%;
    margin: 10px 0px;
}

.login h2{
    font-size: 1.2rem !important;
    font-weight: 500;
}

.login p{
    font-size: 0.9rem;
}