

.modal{
    /* background-color: transparent; */
    z-index: 999;

    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    z-index: 20;

    background-color: #000000ab;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease-in;


    /* ! ELIMINAR */
    /* opacity: 1; */

}

.modal-active{
    pointer-events: auto;
    opacity: 1;

}

.modal-wrap{
    
    background: #fff;
    margin:  0 auto;
    /* padding: 10px 20px; */

    text-align: left;
    position: relative;

    
    transition: all 0.5s ease-in;
    /* clip-path: polygon(52.3% 47.7%, 52.6% 48%, 52.3% 48%, 52.3% 48%); */

}

.modal-wrap form{
    width: 100%;
    
    transition: all 0.5s ease-in;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

    /* border: 1px solid #000; */
}

#form-categories div, #form-sources div{
    display: flex;
    justify-content:left;

    height: 30px;
    padding: 2px 10px;
}



/* .left{
    justify-self: baseline;
    align-self: left;
} */

.modal-wrap h2{
    display: inline-block;
    border-bottom: 1px solid #000;
    width: 100%;

    font-size: 0.9rem;
}

.modal-wrap label{
    font-size: 0.6rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    position: absolute;
    right: 20px;
    top: 5px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.filter-submit{
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    /* justify-content: center; */
    /* justify-self: center; */
    
    font-size: 0.7rem;
    margin-top: 20px;

    /* width: 300px; */
    margin: auto;
    padding: 5px 30px;

    

    border: 1px solid var(--color-info);
    background-color: var(--color-titulos);
    color: var(--color-info);

    transition: all 0.25s ease-in;
}
/* 
.filter-submit:hover{
    border: 1px solid var(--color-titulos);
    background-color: var(--color-info);
    color: var(--color-titulos);
} */

.filters{
    height: auto !important; 
}

.filter-type{
    font-size: 0.85rem;
    padding: 2px 20px;
    margin-bottom: 5px;

    border: none;
    border-bottom: solid 2px var(--color-titulos);
    background-color: transparent;
    color: var(--color-titulos);

    font-weight: 700;

    /* text-align: left; */
}

.no-border{
    border: none;
    font-weight: 300;

}

#form-categories,#form-sources{
    width: 100%;

    display: flex;
    flex-direction: column;

    clip-path: polygon(0% 0%, 100% 0%, 100.1% 100.3%, 0% 100%);
    
    /* transition: all 0.25s ease-in; */

}

.inactive{
    display: none !important;
    clip-path: polygon(0% 0%, 100% 0%, 100.1% 0%, 0% 0%) !important;

}

/* .modal-wrap-active{
        opacity: 1;

}

.open-bg{
    animation: open-modal 250ms ease-in forwards;
    animation-play-state: paused;
}

.open-wrap{
    animation: open-holder 250ms ease-in 250ms forwards;
    animation-play-state: paused;

} */

.scroll{
    overflow: hidden;
}


@keyframes open-modal{
    100%{
    }
}

@keyframes open-holder{
    100%{
        clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);

    }
}


@media screen and (min-width: 1300px){
    .modal-wrap{

        width: 800px;
        padding: 20px 20px 30px;

    }
    
    .modal-wrap form div label{
        padding: 2px 0px 0px 6px;
    }

    .modal{
        padding-top: 100px;
    }
}

@media screen  and (max-width: 1300px) {
    .modal-wrap{
        width: 750px;
        padding: 20px 20px;

    }

    .modal-wrap form div label{
        padding: 2px 0px 0px 6px;
    }

    .modal{
        padding-top: 100px;
    }
}

/* CELULARES */
@media screen and (max-width: 850px) {
    .modal-wrap{
        width: 600px;
        padding: 20px 15px;

    }

    .modal{
        padding-top: 100px;
    }
}

@media screen and (max-width: 650px) {
    .modal-wrap{
        width: 500px;
        padding: 20px 10px;
    }

    .modal-wrap form div label{
        padding: 4px 0px 0px 6px;
    }

    .modal{
        padding-top: 100px;
    }
}

@media screen and (max-width: 550px) {
    .modal-wrap{
        width: 400px;
        padding: 20px 10px;

    }

    .modal{
        padding-top: px;
    }
}

@media screen and (max-width: 400px) {
    .modal-wrap{
        width: 300px;
        padding: 20px 10px;

    }

    .modal{
        padding-top: 40px;
    }
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    text-align: justify;
    padding: 30px 90px 30px 20px;
    border: 1px solid #888;
    width: 70%;
    border-radius: 0.8rem;
    position: relative;
    overflow: hidden;
}

.modal-content img{
    width: 25%;
    float: left;
    object-fit: cover;
}

.modal-disc{
    transform: scale(1.1,1.1);
    top:30px;
    left: 30px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    border-collapse: collapse;
    position: relative;
}

.descrp{
    margin-bottom: 130px !important;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2,  .modal-content h4, .modal-content p{
    margin-bottom: 25px;
}
.modal-content h2{
    font-size: 2rem;
    padding-right: 3.5rem;
}
.modal-content h4{
    font-size: 1.5rem;
    color: var(--color-subtitulo);
}
.modal-content h3{
    font-size: 2.2rem;
    color: var(--green);
    margin-bottom: 10px;
}
.modal-content p{
    font-size: 1.1rem;
}

.modal-cesta{
    margin-right: 12px;
}

.cesta-cant{
    position: absolute;
    bottom: 0px;
    padding: 20px 0px;
    width: 70%;
}

.btn-modal, .cantAdd, .modal-cesta{
    font-size: 1.3rem;
}

.btn-modal{ 
    /* font-size: 1.4rem; */
    padding-left: 50px;
    padding-right: 50px;
    float: right;
}

.cant-inp{
    font-size: 1.2rem;
    color: var(--green);
    font-weight: 600;
}

.btn-cant{
    display: flex;
    
    justify-content:space-around;
    padding: 5px 0px;
    border-left: 1px solid var(--color-p);
    flex-direction: column;
    color: var(--color-p);
    font-size: 0.5rem;
    cursor: pointer;
}

.btn-cant:hover{
    background-color: #d7d7d7;
}

.cantAdd{
    float: left;
    width: 100px;
    padding: 10px 0px;
    color: var(--green);
    text-align: center;
    border-radius: 10px;
    border:1px solid var(--color-p);
    
}

.cant{
    width: 100px;
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 3px;
    float: left;
}


.fav-box-modal{
    position: absolute;
    top: 0px;
    right: 25px;
    z-index: 10;
}

.fav-modal:hover > .fill{
    display: block;
}


/* * Modal Error */

.error-modal{
    background-color: transparent;
    pointer-events:none;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.error-content{
    color: rgb(0, 0, 0);
    background-color: rgb(249, 165, 165);
    border-color: red;
    text-align: center;
    justify-content: center;
    padding: 20px 30px;
    top: 0px;
    width: 30%;
    position:fixed;
    margin-top: 20px;
}

.error-content span{
    color: red;
}

.error-content h2{
    margin: 0px;
    font-size: 1.3rem;
    padding: 0px;
}

/* * Menu de "Mi Cuenta" */

.box-accountBtn{
    

    width: 210px;
    position: absolute;
    right: 270px;
    top: -20px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.5s;

}

.accountBtn{
    font-size: 0.9rem;
    text-align: left;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    background-color: #fff;
    padding: 15px 10px;
    border-bottom: 1px solid rgb(122, 122, 122);
    cursor: pointer;
    color: rgb(59, 59, 59);
    
    /* box-shadow: 2px 4px 10px 2px rgb(188, 188, 188); */
}

.box-visible{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.sombra{
    z-index: 3;
    position: relative;
    filter: drop-shadow(-1px -1px 5px rgba(50, 50, 0, 0.5));
}

.no-border{
    border: none;
}

.accountBtn:hover{
    background-color: #d7d7d7;
}